body{
    background:rgb(216, 216, 233) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.first{
    background: midnightblue;
    color: white ;
}
.loginform{
    color: white ;
    text-align: center;
    font-size: 8pt;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.log{
    background-color: midnightblue;
    color: white;
    font-size: 6pt;
}
.second{
    position: absolute;
    right: 500px;
    width: 300px;
    line-height: 30pt;
}
.line{
    font-weight: bold;
    font-size: 20pt;
}
.sign{
    background-color: rgb(6, 199, 103);
    color: white;
}